#telegram{
    margin: 10px;
}
footer{
    margin-top: 10px;
    background-color: #e5e5e5;
    border-radius: 8px ;
}
.stock{
    background-color: #e5e5e5;
    border-radius: 16px;
}
.compras{
    text-align: center;
    background-color: #e5e5e5;
    border-radius: 16px;
    margin-bottom: 20px;
}
.delete{
    background-color: rgb(197, 3, 3);
    padding: 4px;
    border-radius: 10px;
}