#telegram{
    margin: 10px;
}
footer{
    margin-top: 10px;
    background-color: #e5e5e5;
    border-radius: 8px ;
}
.stock{
    background-color: #e5e5e5;
    border-radius: 16px;
}
.compras{
    text-align: center;
    background-color: #e5e5e5;
    border-radius: 16px;
    margin-bottom: 20px;
}
.back{
    margin: 10px;
}